.vscode
node_modules/
dist/
mis/
public/Outputs/*
public/Samples/*
public/Vertiports/*
public/Waypoints/*
pyLAATSimV0200/Outputs/*
pyLAATSimV0200/Archive/
*.json
!package.json
!package-lock.json
*.asv
*.csv
*.kml
*.pkl
*.mat